* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.memoryContainer {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.iconContainer {
  width: 100%;
  max-width: 90px;
  background-color: #304859;
  height: 90px;
  border: none;
  color: white !important;
  position: relative;
  display: grid;
  place-items: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 100%;
}
/* 
.iconContainer:not(:hover) > i {
    display: none;
} */

.restartButton {
  border-radius: 4px;
  padding: 10px 25px;
  background-color: #fda214;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  border: none;
}

.restartButton:hover {
  background-color: #f5b040;
}

.activeIcon {
  background-color: #bcced9 !important;
}

nav {
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  position: absolute;
  width: 39px;
  height: 39px;
  background-color: #304859;
  transition: all 0.4s;
  color: white;
  font-size: 26px;
  border-radius: 100%;
  border: none;
}

.hiddenButton {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.icons {
  position: relative;
  cursor: pointer;
}

.disabledIcons {
  background-color: #304859 !important;
  color: #304859 !important;
}

.activeAfterMatch {
  background-color: #24c2daa9 !important;
  color: white !important;
}

.timerContainer {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 30px;
  gap: 10px;
  margin-top: 70px;
  border-radius: 5px;
  background-color: gainsboro;
}

.timeHeading {
  color: #7191a5;
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.timer {
  font-size: 20px;
  font-family: monospace;
  color: #304859;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  align-items: center;
  gap: 20px;
}

.modalContainer {
  width: 100%;
  height: 100vh;
  padding: 20px 30px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #3048599b;
  backdrop-filter: blur(10px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  padding: 50px 40px;
  border-radius: 7px;
  background-color: white;
}

input[type="number"] {
  padding: 13px 16px;
  width: 100%;
  border-radius: 7px;
  border: 0;
  outline: none;
  background-color: #bdd7eaa3;
  transition: 0.4s;
}

input[type="number"]:focus {
  background-color: #ffffffa3;
  outline: 1px solid #0572c0;
}

input[type="submit"] {
  padding: 10px 12px;
  width: 100%;
  background-color: #0095ffc6;
  color: white;
  border: 0;
  border-radius: 7px;
  transition: 0.5s;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0572c0;
}

.formHeader {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 30px;
}

label {
  font-size: 13px;
}

.error {
  font-size: 13px;
  color: red;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .iconContainer {
    width: 100%;
    max-width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .container {
    padding: 20px 30px;
  }
  .timerContainer {
    padding: 8px 10px;
  }
}
